<div class="thumbnail">
  <div class="percent">
    <span>-{{ percent }}%</span>
  </div>

  <a [routerLink]="['/product', product.slug]">
    <img [src]="product.thumbnail" alt="" />
  </a>
</div>
<div class="content">
  <div class="title">
    <a [routerLink]="['/product', product.slug]">{{ product.name }}</a>
  </div>

  <app-product-rating
    size="small"
    [score]="product.rating.score"
    [count]="product.rating.count"
  ></app-product-rating>

  <div class="price">
    <span class="price-sale">{{ product.price | price }} đ</span>
    <span class="price-old">{{ product.priceOld | price }} đ</span>
  </div>

  <button class="add-to-cart" type="button" (click)="addToCart()">
    MUA NGAY
  </button>
</div>
