<div class="thumbnail">
  <div class="percent" *ngIf="product.priceOld">
    <span>-{{ percent }}%</span>
  </div>

  <a [routerLink]="['/product', product.slug]" class="image">
    <img [src]="product.thumbnail" [alt]="product.name" />
  </a>
</div>
<div class="content">
  <div class="name">
    <a [routerLink]="['/product', product.slug]">{{ product.name }} </a>
  </div>

  <app-product-rating
    size="small"
    [score]="product.rating.score"
    [count]="product.rating.count"
  ></app-product-rating>

  <div class="price">
    <span class="price-sale">{{ product.price | price }} đ</span>
    <span class="price-old" *ngIf="product.priceOld"
      >{{ product.priceOld | price }} đ</span
    >
  </div>

  <button class="add-to-cart" type="button" (click)="addToCart()">
    MUA NGAY
  </button>
</div>
