@import "/src/styles/variables";

.title {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.link {
  display: block;
  font-weight: 300;
  margin-bottom: 0.6rem;
  color: $color-white-9;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include respond($desktop-sm) {
    justify-content: flex-start;
    gap: 2.5rem;
  }
}
