<!-- Good candidate for using pipe -->
<div class="data">
  <div class="status-quantity">
    <div [class]="product.inStock ? 'status' : 'status unavailable'">
      <div class="status-circle"></div>
      <span class="status-text">{{
        product.inStock ? 'CÒN HÀNG' : 'HẾT HÀNG'
      }}</span>
    </div>

    <app-product-quantity></app-product-quantity>
  </div>

  <div class="prices">
    <p class="price-old">{{ product.priceOld | price }} đ</p>
    <p class="price">{{ product.price | price }} đ</p>
  </div>
</div>

<app-product-cta [productId]="product.id"></app-product-cta>
