@import '/src/styles/variables';

:host {
  display: block;
  margin-top: 100px;

  @include respond($desktop-sm) {
    margin-top: 2rem;
  }
}

.data {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.status {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $color-green;

  &-circle {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: $color-green;
  }

  &-text {
    margin-left: 0.5rem;
  }
}

app-product-quantity {
  margin-top: 0.5rem;
}

.status.unavailable {
  color: $color-red;

  .status-circle {
    background-color: $color-red;
  }
}

.prices {
  text-align: right;
}

.price-old {
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: line-through;
  color: $color-gray;

  @include respond($desktop-md) {
    font-size: 1.175rem;
  }

  @include respond($mobile-md) {
    font-size: 1.125rem;
  }

  @include respond($mobile-sm) {
    font-size: 1rem;
  }
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.25rem;
  color: $color-red;

  @include respond($desktop-md) {
    font-size: 1.85rem;
  }

  @include respond($mobile-md) {
    font-size: 1.65rem;
  }

  @include respond($mobile-sm) {
    font-size: 1.35rem;
  }
}
