<div class="thumbnail">
  <div class="percent">
    <span>-{{ percent }}%</span>
  </div>

  <a [routerLink]="['/product', product.idName]">
    <img [src]="product.thumbnail" alt="" />
  </a>
</div>
<div class="content">
  <div class="title">
    <a [routerLink]="['/product', product.idName]">{{ product.name }}</a>
  </div>

  <app-product-rating
    size="small"
    [score]="product.ratingScore"
    [count]="product.ratingCount"
  ></app-product-rating>

  <div class="price">
    <span class="price-sale">{{ product.price | price }} đ</span>
    <span class="price-old">{{ product.priceOld | price }} đ</span>
  </div>

  <button class="add-to-cart">MUA NGAY</button>
</div>
