<!-- Good candidate for using pipe -->
<div class="data">
  <div class="status-quantity">
    <div [class]="data.available ? 'status' : 'status unavailable'">
      <div class="status-circle"></div>
      <span class="status-text">{{
        data.available ? 'CÒN HÀNG' : 'HẾT HÀNG'
      }}</span>
    </div>

    <app-product-quantity></app-product-quantity>
  </div>

  <div class="prices">
    <p class="price-old">{{ data.priceOld | price }} đ</p>
    <p class="price">{{ data.price | price }} đ</p>
  </div>
</div>

<app-product-cta></app-product-cta>
