<h1 class="name">{{ product.name }}</h1>

<div class="rating-guarantee">
  <app-product-rating [value]="product.rating"></app-product-rating>
  <p class="guarantee">Bảo hành {{ product.guarantee }} tháng</p>
</div>

<div class="short-descriptions">
  <p *ngFor="let desc of product.shortDescriptions">- {{ desc }}</p>
  <p class="note">*Quý khách mua lẻ vui lòng mua với giá niêm yết</p>
</div>

<app-product-actions
  [data]="{
    price: product.price,
    priceOld: product.priceOld,
    available: product.available
  }"
></app-product-actions>
