@import '/src/styles/variables';

:host {
  display: block;
  height: 100%;
}

.name {
  display: block;
  color: $color-accent-blue;

  @include respond($desktop-sm) {
    display: none;
  }
}

app-product-rating {
  @include respond($tablet) {
    padding: 0 0.5rem;
  }
}

.rating-guarantee {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.guarantee {
  font-weight: 600;
  color: $color-accent-orange;
  text-transform: capitalize;
  font-size: 0.875rem;
}

.short-desc {
  margin-top: 1.5rem;

  & > p {
    margin-top: 0.5rem;
  }

  .note {
    margin-top: 1rem;
    font-weight: 600;
  }
}

@include respond($tablet) {
  .rating-guarantee {
    margin-top: 0.5rem;
  }

  app-product-rating {
    padding: 0 0.5rem;
  }
}
