<h1 class="name">{{ product.name }}</h1>

<div class="rating-guarantee">
  <app-product-rating
    [score]="product.rating.score"
    [count]="product.rating.count"
  ></app-product-rating>
  <p class="guarantee">Bảo hành {{ product.guarantee }} tháng</p>
</div>

<div class="short-desc">
  <p *ngFor="let desc of product.shortDesc">- {{ desc }}</p>
  <p class="note">*Quý khách mua lẻ vui lòng mua với giá niêm yết</p>
</div>

<app-product-price
  [data]="{
    price: product.price,
    priceOld: product.priceOld,
    available: product.inStock
  }"
></app-product-price>

<app-product-cta [productId]="product.id"></app-product-cta>
