@import '/src/styles/variables';

:host {
  display: block;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.container {
  @include container;
}

app-block:last-child {
  margin-top: 4rem;
}

.items {
  gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.item {
  position: relative;
}

.content {
  left: 1rem;
  top: 1.25rem;
  max-width: 300px;
  line-height: 1.5;
  font-size: 0.875rem;
  color: $color-white;
  position: absolute;
}

.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.desc {
  margin-bottom: 1.5rem;
}

.readmore {
  width: 150px;
  height: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
  background-color: $color-red;
  justify-content: center;
  align-items: center;
  display: flex;
}

@include respond($desktop-md) {
  .items {
    gap: 1.5rem;
  }

  .desc {
    display: none;
  }
}

@include respond($desktop-sm) {
  .items {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .desc {
    width: 350px;
    font-size: 1rem;
    display: block;
  }

  .image {
    width: 100%;
  }
}

@include respond($tablet) {
}

@include respond($mobile-lg) {
  .content {
    top: 1rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .items {
    gap: 0.5rem;
  }

  .desc {
    display: none;
  }

  .readmore {
    width: 110px;
    height: 34px;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
