@import '/src/styles/variables';

:host {
  display: flex;
  align-items: center;
}

.label {
  font-weight: 600;
  font-size: 1.125rem;
  margin-right: 0.5rem;

  @include respond($desktop-sm) {
    font-size: 1rem;
  }
}

.select {
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
  background-color: $color-pale-blue;
  cursor: pointer;
  outline: none;
  border: none;
}

@include respond($mobile-lg) {
  :host {
    margin-top: 1rem;
    justify-content: space-between;
  }
}
