@import '/src/styles/variables';

:host {
  gap: 1.875rem;
  display: grid;
  grid-template-areas:
    'sub sub main main'
    'sub sub main main';

  @include respond($tablet) {
    gap: 10px;
    grid-template-areas:
      'main main'
      'main main'
      'sub sub'
      'sub sub';
  }
}

.one,
.four {
  transition: transform 200ms ease;

  &:hover {
    transform: scale(1.04);

    @include respond($tablet) {
      transform: scale(1.015);
    }
  }
}

.one {
  grid-area: main;

  & > img {
    height: 100%;
  }
}
