@import '/src/styles/variables';

:host {
  gap: 2rem;
  margin-top: 1rem;
  display: flex;

  @include respond($tablet) {
    gap: 0.8rem;
  }

  @include respond($mobile-lg) {
    flex-direction: column;
  }
}

.btn {
  gap: 0.5rem;
  width: 100%;
  font-weight: 700;
  padding: 0.7rem 0;
  border: 1px solid $color-accent-blue;
  justify-content: center;
  align-items: center;
  display: flex;

  &-atc {
    color: $color-accent-blue;

    app-icon {
      margin-top: -5px;
    }

    &:hover {
      color: $color-accent-orange;
      border-color: inherit;
    }
  }

  &-buy {
    color: $color-white;
    background-color: $color-accent-blue;

    &:hover {
      background-color: lighten($color-accent-blue, 10%);
      border-color: lighten($color-accent-blue, 10%);
    }
  }
}

:host.toolbar {
  gap: 0.5rem;
  margin-top: 0;
  flex-direction: row-reverse;

  .btn {
    padding: 0rem;
    width: 175px;
  }
}

@include respond($desktop-sm) {
  :host.toolbar {
    gap: 10px;

    .btn {
      width: 100%;
    }
  }
}
