<div class="container">
  <div class="left">
    <app-header-item
      title="Danh mục sản phẩm"
      iconId="computer"
      class="mega-menu-entry"
    ></app-header-item>

    <app-header-item
      title="Xây dựng cấu hình"
      iconId="config"
    ></app-header-item>

    <app-header-item
      title="Click là sale"
      iconId="sale"
      [flashy]="true"
    ></app-header-item>

    <app-header-item title="Tin tức" iconId="news"></app-header-item>

    <!-- Mega Menu -->
    <app-mega-menu class="mega-menu"></app-mega-menu>
  </div>

  <div class="right">
    <a href="https://www.facebook.com/tncstore/">
      <app-icon iconId="facebook-word" size="md"></app-icon>
    </a>
    <a href="https://www.youtube.com/channel/UCvLGkK-wBBaoXwV71Tgx08Q">
      <app-icon iconId="youtube" size="lg"></app-icon>
    </a>
    <a href="https://www.instagram.com/tncstore_vn/">
      <app-icon iconId="instagram" size="lg"></app-icon>
    </a>
  </div>
</div>
