svg {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xxs {
  width: 13px;
  height: 11px;
}

.xs {
  width: 14px;
  height: 15px;
}

.sm {
  width: 18px;
  height: 18px;
}

.md {
  width: 22px;
  height: 22px;
}

.lg {
  height: 28px;
  width: 28px;
}

.xl {
  width: 32px;
  height: 32px;
}

.max {
  height: 60px;
  width: 60px;
}
