<div class="header">
  <div class="name">{{ category.name }}</div>
  <div class="quantity">({{ category.count }} sản phẩm)</div>
  <app-cat-sort></app-cat-sort>
</div>

<app-cat-list-filter></app-cat-list-filter>

<div class="grid">
  <app-product-card
    [product]="product"
    *ngFor="let product of category.products"
  ></app-product-card>
</div>

<a href="#" class="ad">
  <img
    src="http://localhost:3000/image/banner/category-banner.jpg"
    alt="Khuyến mãi Giảm giá"
  />
</a>

<app-cat-pagination [count]="category.count"></app-cat-pagination>
