@import "/src/styles/variables";

.container {
  @include container;
}

:host {
  display: block;
  background-color: $color-accent-blue;
  color: $color-white;
  padding: 0.4rem 0;
  text-align: right;

  @include respond($desktop-sm) {
    text-align: center;
    font-size: 0.875rem;
  }
}
