<div class="title">Thông tin giỏ hàng</div>

<div class="quantity">
  Số lượng sản phẩm
  <span class="count">{{ cart.totalQuantity }}</span>
</div>

<div class="total">
  Tổng chi phí
  <span class="price">{{ cart.totalPrice | price }} đ</span>
</div>

<div class="vat">Đã bao gồm VAT (nếu có)</div>

<div class="actions">
  <button
    type="button"
    class="btn btn-to-cart"
    [ngClass]="cart.totalQuantity === 0 ? 'disable' : ''"
    (click)="onGoTo()"
  >
    {{ isModal ? 'ĐẾN GIỎ HÀNG' : 'XÁC NHẬN ĐƠN HÀNG' }}
  </button>
  <button class="btn btn-delete-cart" type="button" (click)="onDeleteCart()">
    XÓA GIỎ HÀNG
  </button>
  <button class="btn btn-to-others" type="button" (click)="onGoToOthers()">
    XEM SẢN PHẨM KHÁC
  </button>
</div>
