:host {
  gap: 2rem;
  display: flex;
  margin-bottom: 2rem;
}

.one {
  width: 60%;

  .title {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.four {
  width: 40%;
  gap: 0.5rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  .channel {
    gap: 1.5rem;
    width: 100%;
    display: flex;
    height: min-content;
  }

  .thumbnail {
    height: min-content;
    max-width: 170px;
  }
}

.title {
  font-weight: 700;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
