@import '/src/styles/variables';

:host {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.stars {
  gap: 0.8rem;
  display: flex;
}

app-icon {
  color: lighten($color-primary, 70%);

  &.active {
    color: $color-star;
  }
}

.value {
  font-weight: 600;
  font-size: 0.875rem;
  color: $color-gray;
}
