@import '/src/styles/variables';

:host {
  display: flex;
  padding: 0.625rem 1rem;
  margin-bottom: 0.625rem;
  border: 1px solid $color-border;
}

.img {
  width: 80px;
  margin-right: 1.25rem;

  &-mobile {
    display: none;
    margin-bottom: 0.5rem;
  }

  @include respond($tablet) {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }
}

.content {
  width: 100%;
}

.name {
  font-weight: 600;
  color: $color-accent-blue;
  align-items: flex-start;
  display: flex;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  @include respond($tablet) {
    display: block;
  }
}

.price {
  min-width: 130px;
  font-weight: 700;
  width: max-content;
  text-align: right;

  @include respond($tablet) {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    text-align: left;
  }
}

.actions {
  margin-top: 0.5rem;
  align-items: center;
  display: flex;
}

.text {
  font-size: 0.875rem;
  margin-right: 0.5rem;
}

app-cart-quantity {
  margin-right: auto;
}

.remove {
  font-weight: 700;
  padding: 6px 1rem;
  font-size: 0.875rem;
  color: $color-accent-blue;
  border: 1px solid $color-accent-blue;
  transition: all $duration-100;
  justify-items: center;
  align-items: center;
  display: flex;

  > app-icon {
    margin-right: 0.5rem;
  }

  &:hover {
    color: $color-white;
    background-color: $color-accent-blue;
  }
}
