@import '/src/styles/variables';

:host {
  display: block;
  padding: 3rem 0;
}

.container {
  @include container;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.cart {
  margin-bottom: 5rem;
}

.content {
  width: 66.66%;
  margin-right: 1.5rem;
}

.info {
  width: 33.33%;
}

.empty {
  font-size: 0.875rem;
  margin-bottom: 1rem;

  @include respond($desktop-sm) {
    text-align: center;
  }
}

@include respond(950px) {
  .cart {
    display: block;
    margin-bottom: 3rem;
  }

  .content {
    width: 100%;
  }

  .info {
    width: 100%;
    margin-left: 0;
  }
}
