@import '/src/styles/variables';

:host {
  gap: 2rem;
  display: grid;
  grid-template-areas:
    'sub sub main main'
    'sub sub main main';

  & > a {
    transition: transform 200ms ease;

    &:hover {
      transform: scale(1.04);

      @include respond($tablet) {
        transform: scale(1.015);
      }
    }
  }

  @include respond($tablet) {
    grid-template-areas:
      'main main'
      'main main'
      'sub sub'
      'sub sub';

    gap: 0.875rem;
  }
}

.one {
  grid-area: main;
}
