@import '/src/styles/variables';

.hero-banner {
  margin-bottom: 2rem;
}

.hero-link {
  height: 600px;
  background-color: $color-pale-blue;
  align-items: center;
  display: flex;

  @include respond($desktop-md) {
    height: 50vw;
  }
}
