<div class="container">
  <div class="data">
    <div class="name">{{ name }}</div>
    <div class="price">
      <p>Tổng chi phí</p>
      <h3>{{ price | price }} đ</h3>
    </div>
    <app-product-cta [toolbar]="true"></app-product-cta>
  </div>
  <div class="navigation" #navigation>
    <div
      class="tab active"
      [attr.data-index]="i"
      (click)="onSelectTab($event)"
      *ngFor="let title of titles; let i = index"
    >
      {{ title }}
    </div>
    <div class="to-top" (click)="toTop()">
      <app-icon iconId="chevron-up" size="xs"></app-icon>
      Lên đầu trang
    </div>
  </div>
</div>
