<div class="image">
  <img
    src="http://localhost:3000/image/product/vga/asus/card-man-hinh-asus-dual-geforce-rtx3060-ti-v2-edition-1-228x228.jpg"
    alt=""
  />
</div>

<div class="description">
  <a [routerLink]="['/product', cartItem.product.slug]" class="name">{{
    cartItem.product.name
  }}</a>
  <p class="total">{{ total | price }} đ</p>
</div>

<div class="actions">
  <div class="qty">
    <button type="button" class="qty-btn qty-btn-sub" (click)="subQuantity()">
      -
    </button>
    <input
      type="number"
      name="quantity"
      class="qty-input"
      [value]="cartItem.quantity"
    />
    <button class="qty-btn qty-btn-add" type="button" (click)="addQuantity()">
      +
    </button>
  </div>
  <button class="remove" type="button" (click)="remove()">
    <app-icon iconId="bin" size="sm"></app-icon>
  </button>
</div>
