<div class="image">
  <img [src]="item.product.thumbnail" alt="" />
</div>

<div class="description">
  <a
    class="name"
    (click)="closeModal()"
    [routerLink]="['/product', item.product.slug]"
    >{{ item.product.name }}</a
  >
  <p class="total">{{ item.product.price * item.quantity | price }} đ</p>
</div>

<div class="actions">
  <app-cart-quantity
    [quantity]="item.quantity"
    [itemId]="item.id"
  ></app-cart-quantity>
  <button class="remove" type="button" (click)="remove()">
    <app-icon iconId="bin" size="sm"></app-icon>
  </button>
</div>
