@import '/src/styles/variables';

:host {
  display: flex;
  align-items: center;
  border: 1px solid $color-border;
  padding: 0.625rem 1rem;
  width: 100%;
  gap: 2rem;
}

// Image

.image {
  width: 64px;
  margin-left: 0.5rem;
}

// Description

.description {
  max-width: 350px;
  margin-right: auto;
}

.total {
  font-weight: 700;
  color: $color-red;
  margin-top: 0.8rem;
}

.name {
  color: $color-accent-blue;
  font-weight: 500;
  max-width: 200px;
}

// Actions

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.qty {
  display: flex;
  align-items: center;

  &-input {
    border: 0;
    width: 26px;
    height: 22px;
    font-weight: 700;
    color: $color-accent-blue;
    text-align: center;
  }

  &-btn {
    width: 22px;
    font-weight: 600;
    color: $color-primary;
    background-color: $color-border;
  }
}

.remove {
  color: $color-accent-blue;
}
