@import '/src/styles/variables';

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 72px;
}

@include respond($desktop-md) {
  .container {
    padding: 0 1rem;
  }

  .logo {
    max-height: 50px;
  }

  app-header-search {
    display: none;
  }
}
