@import '/src/styles/variables';

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond($desktop-md) {
    padding: 0 1rem;
  }
}

.logo > img {
  height: 72px;
}
