<ul class="mega-menu">
  <li *ngFor="let cat of categories" class="menu-item">
    <a [routerLink]="cat.routerLink" class="menu-item-title"
      >{{ cat.title }}
      <app-icon iconId="chevron-right" size="xxs"></app-icon>
    </a>

    <ul class="cat-menu">
      <h4 class="cat-title">
        <a [routerLink]="cat.routerLink">{{ cat.title }}</a>
      </h4>

      <li *ngFor="let item of cat.items" class="cat-item">
        <a [routerLink]="item.routerLink">{{ item.title }}</a>
      </li>

      <a [routerLink]="cat.routerLink" class="cat-image">
        <img [alt]="cat.title" [src]="cat.imagePath" />
      </a>
    </ul>
  </li>
</ul>
