<div class="content">
  <h4 class="title">
    Nhà cung cấp linh kiện & dịch vụ máy tính, gaming số 1 miền Bắc.
  </h4>
  <p class="text">
    Với đội ngũ nhân viên là những người trẻ đam mê và yêu thích về công nghệ,
    cùng kiến thức về IT tốt kèm với sự dày dặn kinh nghiệm, chúng tôi luôn sẵn
    sàng giải đáp bất cứ thắc mắc của các khách hàng một cách nhanh nhất có thể.
    Dù bạn không mua, chúng tôi vẫn tư vấn cho bạn.
  </p>
</div>

<div class="image">
  <img
    src="http://localhost:3000/image/banner/tnc-intro.png"
    alt="Giới thiệu về TNC"
  />
  <app-youtube-button></app-youtube-button>
</div>
