@import '/src/styles/variables';

.container {
  @include container;
  padding: 3rem;
}

:host {
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  display: block;
}

.links {
  display: flex;
  margin-bottom: 3.5rem;

  & > * {
    flex: 25%;
  }
}

.info {
  .title {
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    color: $color-white;
  }

  p {
    line-height: 1.5;
    margin-bottom: 0.75rem;
    color: $color-white-9;
  }
}

@include respond($desktop-md) {
  :host {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .links {
    gap: 1.5rem;
    flex-direction: column;
  }

  .info > p:not(.title) {
    font-size: 0.875rem;
  }
}
