<div class="container">
  <div class="footer-links">
    <app-footer-links
      *ngFor="let group of groups"
      [footerLinks]="group"
    ></app-footer-links>
  </div>
  <div class="footer-info">
    <p class="title">Công ty TNHH Thương mại & Tin học Tú Nguyệt</p>
    <p>
      Showroom : 172 Lê Thanh Nghị, Phường Đồng Tâm, Quận Hai Trưng, Hà Nội /
      Tel: (024) 36288790 Fax : (024) 36288790
    </p>
    <p>
      Trung tâm bảo hành : 172 Lê Thanh Nghị, Phường Đồng Tâm, Quận Hai Trưng,
      Hà Nội / Tel: (04) 36288790 Fax : (024) 36288790
    </p>
    <p>
      Trụ sở (Không bán hàng): 11 Vũ Thạnh - Cát Linh - Đống Đa - Hà Nội / Tel:
      (024) 35120778; Fax : (024) 36288790
    </p>
  </div>
</div>
