@import '/src/styles/variables';

:host {
  display: block;
}

.container {
  @include container;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.content {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

app-block {
  margin-top: 4rem;
}

@include respond($desktop-sm) {
  .content {
    display: block;
  }

  app-product-detail {
    margin-top: 2rem;
  }
}
