<!-- Resolver, next behavior subject -->
<app-product-top-toolbar
  *ngIf="product"
  [name]="product.name"
  [price]="product.price"
></app-product-top-toolbar>

<div class="container" *ngIf="product">
  <div class="content">
    <app-product-gallery [images]="product.images"></app-product-gallery>
    <app-product-detail [product]="product"></app-product-detail>
  </div>

  <app-product-policy></app-product-policy>

  <app-block title="Thông tin sản phẩm">
    <app-product-info></app-product-info>
  </app-block>

  <app-block title="Sản phẩm liên quan"></app-block>
  <i class="fa fa-star"></i>
</div>
