<!-- Resolver, next behavior subject -->
<app-product-top-toolbar
  *ngIf="product"
  [prod]="{ id: product.id, name: product.name, price: product.price }"
></app-product-top-toolbar>

<div class="container" *ngIf="product">
  <div class="content">
    <app-product-gallery [product]="product"></app-product-gallery>
    <app-product-detail [product]="product"></app-product-detail>
  </div>

  <app-policy></app-policy>

  <app-block title="Thông tin sản phẩm">
    <app-product-info></app-product-info>
  </app-block>

  <app-block title="Sản phẩm liên quan">
    <app-products-swiper [products]="relatedProduct"></app-products-swiper>
  </app-block>
</div>
