:host {
  display: block;
  margin-top: 1rem;
  color: black;
}

.bank {
  margin-bottom: 1rem;
}

p {
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
}

.bold {
  font-weight: 700;
  margin-bottom: 0.4rem;
}
