<div class="title">Thông tin giỏ hàng</div>

<div class="quantity">
  Số lượng sản phẩm
  <span class="count">{{ totalQuantity }}</span>
</div>

<div class="total">
  Tổng chi phí
  <span class="price">{{ totalPrice | price }} đ</span>
</div>

<div class="vat">Đã bao gồm VAT (nếu có)</div>

<div class="actions">
  <a
    class="btn btn-to-cart"
    [ngClass]="totalQuantity === 0 ? 'disable' : ''"
    (click)="onGoToCart()"
    >ĐẾN GIỎ HÀNG</a
  >
  <button class="btn btn-delete-cart" routeLink="/">XÓA GIỎ HÀNG</button>
  <a class="btn btn-to-others">XEM SẢN PHẨM KHÁC</a>
</div>
