@import '/src/styles/variables';

:host {
  display: none;

  &.active {
    display: flex;
  }

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: $color-primary;
}

.backdrop {
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all $duration-300;
}

.modal {
  height: 90%;
  width: 1000px;
  z-index: 9999;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  transition: all $duration-300;
  background-color: $color-white;
  overflow-y: scroll;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.body {
  gap: 2rem;
  margin: 1.5rem 0;
  justify-content: space-between;
  display: flex;
}

.products {
  width: 62%;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.info {
  width: 38%;
}

app-cart-guarantees {
  margin-top: 1.5rem;
}

.empty {
  border: 1px solid $color-border;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  text-align: center;
  line-height: 1.5;
}
