<!-- FIX: backdrop click -->
<div class="backdrop" (click)="onCloseModal()"></div>

<div class="modal">
  <div class="header">
    <div class="title">
      Bạn đang có {{ cart.length }} sản phẩm trong giỏ hàng
    </div>
    <button type="button" (click)="onCloseModal()">
      <app-icon iconId="close" size="sm"></app-icon>
    </button>
  </div>
  <div class="body">
    <div class="products">
      <app-cart-item
        *ngFor="let item of cart"
        [cartItem]="item"
      ></app-cart-item>
    </div>
    <div class="info">
      <app-cart-total></app-cart-total>
      <app-cart-guarantees></app-cart-guarantees>
    </div>
  </div>
</div>
