<swiper [config]="mainGalleryConfig" class="main" slideClass="main" #topSlider>
  <ng-template swiperSlide *ngFor="let image of images">
    <img [src]="image" alt="" class="image" />
  </ng-template>
</swiper>

<swiper #thumbsSlider [config]="subGalleryConfig" class="sub">
  <ng-template swiperSlide *ngFor="let image of images">
    <div class="image-wrapper">
      <img [src]="image" alt="" class="image" />
    </div>
  </ng-template>

  <!-- Empty slides at the end -->
  <ng-template swiperSlide><div class="empty"></div></ng-template>
  <ng-template swiperSlide><div class="empty"></div></ng-template>
</swiper>
