@import '/src/styles/variables';

:host {
  width: 50%;
  max-width: 540px;
  height: min-content;
  position: relative;
  display: block;

  @include respond($desktop-sm) {
    width: 100%;
    max-width: unset;
  }
}

.name {
  margin-bottom: 1rem;
  color: $color-accent-blue;
  display: none;

  @include respond($desktop-sm) {
    display: block;
  }
}

.brand {
  z-index: 10;
  position: absolute;
  max-width: 80px;
  left: 0.5rem;
  top: 1rem;
}

.main {
  border: 1px solid $color-border !important;

  .image-wrapper {
    position: relative;

    .image {
      max-width: 350px;
      margin: 0 auto;
    }
  }
}

.sub {
  margin-top: 1.5rem;

  .image-wrapper {
    border: 1px solid $color-border !important;
    height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  @include respond($desktop-sm) {
    margin-top: 1rem;
  }
}

.empty {
  background-color: transparent;
  height: 100px;
}
