@import '/src/styles/variables';

.container {
  @include container;
}

:host {
  display: block;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond($desktop-sm) {
      flex-direction: column;
    }
  }
}

.footer-copyright {
  font-size: 0.875rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}
