<div class="container">
  <p class="copyright">
    © 2020 - Bản quyền của Công ty TNHH Thương mại & Tin học Tú Nguyệt
  </p>
  <div class="icons">
    <div class="">
      <img src="/assets/images/tien-mat.png" />
    </div>
    <div class="">
      <img src="/assets/images/internet-bank.png" />
    </div>
    <div class="">
      <img src="/assets/images/mastercard.png" />
    </div>
    <div class="">
      <img src="/assets/images/visa.png" />
    </div>
    <div class="">
      <img src="/assets/images/bo-cong-thuong.png" />
    </div>
  </div>
</div>
