<div class="container">
  <p class="footer-copyright">
    © 2020 - Bản quyền của Công ty TNHH Thương mại & Tin học Tú Nguyệt
  </p>
  <div class="footer-icons">
    <a href="/"> <img src="/assets/images/tien-mat.png" /></a>
    <a href="/"> <img src="/assets/images/internet-bank.png" /></a>
    <a href="/"> <img src="/assets/images/mastercard.png" /></a>
    <a href="/"> <img src="/assets/images/visa.png" /></a>
    <a href="/"> <img src="/assets/images/bo-cong-thuong.png" /></a>
  </div>
</div>
