@import '/src/styles/variables';

.container {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond($desktop-md) {
  }
}

:host {
  display: block;
  padding: 1rem 0;
}

.copyright {
  font-size: 0.875rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

@include respond($desktop-md) {
  :host {
    padding: 0.8rem 0 1rem;
  }

  .container {
    flex-direction: column-reverse;
  }

  .copyright {
    text-align: center;
  }

  .icons {
    margin-bottom: 0.5rem;
  }
}

@include respond($mobile-lg) {
  .copyright {
    max-width: 300px;
  }
}
